chappage.txt
main_spec.aux
main_spec.idx
main_spec.ilg
main_spec.ind
main_spec.log
main_spec.out
main_spec.pdf
main_spec.toc
language_ext.aux
language_ext.idx
language_ext.ilg
language_ext.ind
language_ext.log
language_ext.out
language_ext.pdf
language_ext.toc
